:root {
    --primary-moderate-violet: hsl(263, 55%, 52%);
    --primary-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --primary-very-dark-blackish-blue: hsl(219, 29%, 12%);
    --primary-white: hsl(0,0%,100%);

    --neutral-light-gray: hsl(0, 0%, 81%);
    --neutral-light-grayish-blue: hsl(210, 46%, 95%);
}

body{
    font-size:13px;
    font-family:"Barlow Semi Condensed", sans-serif ;
    font-weight: 500;
    background-color: var(--neutral-light-grayish-blue);
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 5rem 1rem;
}


 .card{
    background-color: var(--primary-white );
    width:327px;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) ;
 }

 .card div img{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border:3px solid #A77df1;
 }

 .box2 div img{
    border-color: #48556a;
 }

 .box3 div img {
    border-color: #979797;
 }

 .box5 div img {
    border-color: #979797;
 }

 .card > p:first-of-type {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.card > p:nth-of-type(2){
    opacity:0.7;
}

 .bio{
    display: flex;
    gap:1rem;
    align-items: center;
    margin-bottom: 1rem;
 }

 .details{
    line-height: 1.3;
 }
 .details p:first-of-type{
    font-size: 13px ;
 }

 .details p:nth-of-type(2){
    font-size: 11px ;
    opacity: 0.5;
 }

 .box1{
    background-color: var(--primary-moderate-violet);
    color:var(--primary-white);
 }

 .box2{
    background-color: var(--primary-very-dark-grayish-blue);
    color:var(--primary-white);
 }

 .box4{
    background-color: var(--primary-very-dark-blackish-blue);
    color:var(--primary-white);
 }
 @media(min-width:1030px){
   
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        gap: 20px;
        max-width: 1100px; /* Adjust the gap size as needed */
      }
    .card{
        width: auto;
        margin-bottom: 0 ;
    }
      .box1 {
        grid-column-start: 1;
        grid-column-end: 3;  
      }
      .box3 {
        grid-row-start: 2;
      }
      .box4{
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 4;
      }
      .box5{
        grid-row-start: 1;
        grid-row-end: 3;
      }
      
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }